<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    
</head>
<body>
    
    <div id="login">
        <fieldset>
            <legend>Acceso al panel</legend>
            <label for="">Nombre de usuario</label>
            <input type="text" v-model="username">

            <label for="">Contraseña</label>
            <input type="password" v-model="password">

            <button @click="login">Acceder</button>
        </fieldset>
    </div>

<!--////////////////////////////////////////////////////////////////////////-->
    <script type="text/javascript" src="login.js"></script>
</body>
</html>