<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    
    <div id="container">
        <h1>
            {{ name }}
        </h1>
        <h2>
            {{ lastname }}
        </h2>
        <input type="text" v-model = "name" name="">
        <button @click ="hi">
            presióname
        </button>
    </div>
    
    <hr>
    <div id="suma">
        <input type="text" v-model="n1">
        <input type="text" v-model="n2">
        <button @click = "sumar">
            Sumar
        </button>
        <h1>
            {{ sumatoria }}
        </h1>
        <hr>

        <input type="text" v-model="age">
        <button @click="check">
            Verificar
        </button>
        <h1 v-if="age < 18">
            NO PASA
        </h1>
        <h1 v-else>
            SÍ PASA
        </h1>
        <hr>

        <ol>
            <li v-for="item in chamos" :key="index">
                {{item.name}} : <span></span> {{item.color}}
            </li>
        </ol>
        <input type="text" v-model="chamo_name">
        <input type="text" v-model="chamo_color">
        <button @click="save">
            Guardar
        </button>
    </div>
    <hr>
    <script src="users.json"></script>
    <div id ="dia2">
        <fieldset>
            <legend>
                Acceso al panel
            </legend>
            <label>
                Correo electrónico
            </label>
            <input type="email" v-model="email">

            <label>
                Password
            </label>
            <input type="password" v-model="password" id="">

            <button @click="login">
                Acceder
            </button>
        </fieldset>
    </div>



    <script type="text/javascript">
        const { createApp }  = Vue;
        
        const dia2 = createApp({
            data(){
                return{
                    users: null,
                    email: "",
                    password: ""
                }
            },
            methods: {
                login(e){
                    e.preventDefault;
                    var email = this.email;
                    var password = this.password;
                    var access = this.users.map(function(user){
                        if(email === user.email.toLowerCase()){
                            if(password === user.password){
                                sessionStorage.setItem("name", user.name);
                                window.open("tabla.html");
                                return true;
                            }
                        }
                        
                    })
                    
                    
                }
            },
            mounted(){
                fetch("users.json")
                .then((res) => res.json())
                .then((json) => (this.users = json))
                .catch((err) => (console.log(err)))
            }
        }).mount("#dia2");




        const app = createApp({
            data(){
                return {
                    name: "Niggel",
                    lastname: "Altamirano"
                }
            },
            methods:{
                hi(){
                    alert("hello " + this.name)
                }
            }
        }).mount("#container");

        const sum = createApp({
            data(){
                return{
                    n1: 0,
                    n2: 0,
                    sumatoria: 0,
                    age : 0,
                    chamos: [{name:"kibo", color: "tuxedo"}, {name:"kibo", color: "tuxedo"}, {name:"kibo", color: "cálico"}],
                    chamo_name: "",
                    chamo_color: ""
                }
            },
            methods:{
                sumar(){
                    this.sumatoria = parseInt(this.n1) + parseInt(this.n2)
                },
                check(){

                },
                save(){
                    this.chamos.push({name: this.chamo_name, color: this.chamo_color})
                }
            }
        }).mount("#suma")
    </script>
</body>
</html>